
schedules:
  - cron: "*/30 * * * *"
    displayName: "Test schedule"
    branches:
      include:
        - master
    always: true

trigger:
- master

variables:
  UDI_USERNAME: $(udiUser)
  UDI_PASSWORD: $(udiPass)

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: '.'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      ESCAPED_PW=$(printf '%s\n' "$(UDI_PASSWORD)" | sed -e 's/[\/&]/\\&/g')
      sed -e "s/%UDI_USERNAME%/$(UDI_USERNAME)/" -e "s/%UDI_PASSWORD%/$ESCAPED_PW/" check-udi.side > parsed.side
      npx selenium-side-runner -c "browserName=chrome goog:chromeOptions.args=[disable-infobars, headless]" parsed.side
